.eventimg{
    max-width: 350px;
    max-height: 350px;
}
.eventpa{
    font-size: 38px;
    font-weight: 500;
    margin: 35px 0 ;
}
.event{
    padding: 0% 10% ;
    margin-bottom: 100px;
    
}
.cntent{
    justify-content: space-between;
    flex-wrap: wrap;

}
.para{
    height: 80px;
    width: 140px;
    max-height: 80px;
    max-width: 140px;
    background-image: linear-gradient(#08A84E, #AAFF00);
    align-items: center;
    justify-content: center;
    display:flex;
    font-size: 20px;
    font-weight: 500;
    border-radius: 15% 0 0 15%;
    right:   -20px;
    bottom: 20px;
}
.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.7));
  }
  .cnt{
    margin: 10px;
  }
  .cnt:hover{
    transform: scale(1.05);
  }
  .fill{
    clip-path: polygon(0 0,100% 0,100% calc(100% - 20.00px),calc(100% - 20.00px) 100%,0 100%);
    width: 20px;
    height: 20px;
    background-color: #003B06;
    position: absolute;
    bottom: 0px;
    right: -20px;
  }